*{
    padding: 0px;
    margin: 0px;
    img{
        width: 80%;
    }
    box-sizing: border-box;
}


.carousel-container{
    width: 60%;
    margin: auto; 
    border: 5px solid black;
    overflow: hidden; 
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}


#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
