*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.child-1{
    width: 200px;
    height: 200px; 
    background: rgb(39, 61, 134);
}

.child-2{
    width: 200px;
    height:200px;
    background: rgb(172, 57, 52);
}

.child-3{
    width: 200px;
    height: 200px;
    background: rgb(149, 43, 140);
}

.child-4{
    width: 200px;
    height: 200px;
    background: rgb(7, 112, 68);
}