*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: aliceblue;
}

.parent{
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    
}

.child-1{
    
    height: 200px; 
    background: rgb(39, 61, 134);
    order: 1;    
    flex: 2 1 300px;
    align-self: center;
}

.child-2{
    width: 200px;
    height:200px;
    background: rgb(172, 57, 52);
    flex-grow: 1;
}

.child-3{
    width: 200px;
    height: 200px;
    background: rgb(149, 43, 140);
    order: 2;
    flex-grow: 1;
}

.child-4{
    width: 200px;
    height: 200px;
    background: rgb(7, 112, 68);
    flex-grow: 1;
    align-self: center;
}